---
---
body {
	background: #36485e;
	color:#3D3D3D;
	font-family:Verdana, Geneva, sans-serif;
}

strong{	font-weight: bold; }

#micrositePage {
	background: #eaecee;
	font-size: 12px;
    font-weight: 400;
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
}

#micrositeContainer, #micrositeFooter {
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#micrositeFooter {
    background-color: #36485e;
    font-size: 0.8em;
    margin-top: 20px;
    padding-top: 25px;
    width: 100%;
}

#micrositeFooter p {
	text-align: center;
	color:#CCC;
}

#micrositeFooter a {
	color:#CCC;
}

#micrositePage a {
	color:#3d3d3d;
	text-decoration:none;
}

#micrositePage a:hover, #micrositePage a:focus {
	color:#5480BB;
	text-decoration:underline;
}

#micrositeFooter a:hover, #micrositeFooter a:focus {
	color:#CCC;
}

/* This hides the usual header section in pt 2 */
#micrositeHeader {
    display: none;
}

.micrositeHeaderWidget {
	background-color:#36485e;
	background-image:url("/e2/images/rv7/veterans/veterans_header.jpg");
	background-repeat:no-repeat;
	height:300px;
	margin-left: auto;
    margin-right: auto;
	position:relative;
	text-indent: -9999px;
    width: 1200px;
}

.micrositeHeaderWidget a {
	height: 81px;
	left:988px;
	position:absolute;
	top:204px;
	width: 65px;
}

.headerStar{ background: url("/e2/images/rv7/features/army_star_neg.png") no-repeat; }

.micrositeTextWidgetIntro {
    margin-right: 15px;
    margin-top: 20px;
    width: 545px;
}
.micrositeTextWidgetIntro h1 {
    font-size: 24px;
    margin-bottom: 15px;
	text-transform: uppercase;
}

.micrositeTextWidgetIntro p {
    line-height: 1.5em;
}

.micrositeImageAndTextWidget {
    float: left;
    margin-right: 15px;
	margin-top: 40px;
    width: 290px;
}

.micrositeImageAndTextWidgetLast {
    float: left;
	margin-top: 40px;
    width: 290px;
}
.micrositeImageAndTextWidget h2, .micrositeImageAndTextWidgetLast h2 {
    display: none;
}
.micrositeImageAndTextWidget h3, .micrositeImageAndTextWidgetLast h3 {
    background-color: #36485e;
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
	margin-top: -4px;
    padding: 5px 0 6px 12px;
    text-transform: uppercase;
}
.micrositeImageAndTextWidget ul, .micrositeImageAndTextWidgetLast ul {
    border-bottom: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    height: 185px;
    padding: 12px;
}

.micrositeImageAndTextWidget li, .micrositeImageAndTextWidgetLast li, .micrositeTextWidgetResources li {
    margin-bottom: 7px;
}

.micrositeImageAndTextWidget li:last-child, .micrositeImageAndTextWidgetLast li:last-child, .micrositeTextWidgetResources li:last-child {
    margin-bottom: 0;
}

.playlistPlayer_001 {
	border: 1px solid #b3b3b3;
    clear: both;
    float: right;
    width: 298px;
}

#micrositeLeftCol {
    margin-top: 40px;
	width: 560px;
}

#micrositeRightCol {
    margin-top: 40px;
	width: 300px;
}

#micrositePage .rightSection {
	border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    margin-bottom: 20px;
    padding: 12px;
}

h2.micrositeStoryListMoreWidget {
    font-size: 24px !important;
    margin-bottom: 10px;
}

.storyBlock { 
	border-bottom: 1px solid #b3b3b3;
    clear: both;
    float: left;
	margin: 0;
    padding: 15px 0;
    width: 560px;
}
.leftPane {
    float: left;
    margin: 0 12px 0 0;
    padding: 0;
    width: 152px;
}
.leftPane img { border:1px solid #414034;}
.rightPane {
	float:right;
	width:396px;
}
.rightPane a { text-decoration:none; font-weight: bold;}
.rightPane h3 { font-size:1.3333em; margin:0 0 .5em 0;}

.subContent{ margin-left: 12px;}
/*.storyBlock, .storyBlock1 {
    border-bottom: 1px solid #b3b3b3;
    clear: both;
    float: left;
    padding: 15px 0;
    width: 560px;
}*/
.storyBlock1 li{padding:1px 1px 5px 10px;}
.storyBlock h3 a, .storyBlock1 h3 a {text-decoration: none;  outline: 0; font-size: 15px; font-weight: bold;}
.storyBlock h3 a:hover, .storyBlock h3 a:focus, .storyBlock1 h3 a:hover, .storyBlock1 h3 a:focus {text-decoration: underline;}
.storyBlock .left, .storyBlock1 .left {float: left;}
.storyBlock .right, .storyBlock1 .right { width: 400px; float: right; }
.archives{
	float:right;
	margin-top:10px;
	text-align:right;
	width:578px;
}

#archives{
	background: url(/e2/images/rv7/features/more_stories_545.png) no-repeat;
	text-align:center;
	border: none;
	height: 35px;
	display: block;
	text-indent: -9999px;
	clear:both;
	margin-bottom: 10px;
	position: relative;
	top: 13px;
}
#archives:hover, #archives:focus { background-position: 0 -35px;}

.micrositeTextWidgetResources {
    background-color: #c3c8cf;
    padding: 25px;
}

.micrositeTextWidgetResources h2 {
    font-size: 24px !important;
    margin-bottom: 20px;
}

.micrositeTextWidgetResources h3 {
    border-top: 1px solid #3d3d3d;
	font-size: 23px !important;
    margin-bottom: 20px;
	margin-top:25px;
	padding-top: 25px;
}

.micrositeImageWidget {
    background: none repeat scroll 0 0 #f0f0f0;
    border: 1px solid #b3b3b3;
    padding: 20px 12px;
}

h2.micrositeLinkBoxWidget {
    display: none;
}
.micrositeLinkBoxWidget li {
    margin-bottom: 7px;
}

.micrositeSocialMedia_001 {
	background: none !important;
    border-top: none !important;
    font-family: Helvetica,Arial,sans-serif !important;
}
.micrositeSocialMedia_001 p {
    text-shadow: none !important;
}
.micrositeSocialMedia_001 p.title {
    background: none repeat scroll 0 0 #274c80;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 13px !important;
    font-weight: 900;
    padding: 5px 0 6px 12px !important;
    text-align: left;
    text-transform: uppercase;
}
.micrositeSocialMedia_001 .icons {
    background: #ffffff;
	border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
	padding: 12px 0 !important;
}

.micrositeSocialMedia_001 .icons img {
    border: medium none !important;
    margin: 0 !important;
}
.micrositeSocialMedia_001 .button {
    border: 1px solid #B3B3B3 !important;
    margin: 7px 0 0 -1px !important;
}
.micrositeSocialMedia_001 .button a {
    border: medium none !important;
	width: 100% !important;
}
.micrositeSocialMedia_001 .button a:hover, .micrositeSocialMedia_001 .button a:focus {
    background: none repeat scroll 0 0 transparent !important;
}
